{% extends 'base.html.twig' %}

{% set pagetitle = 'Manage orders'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ 
        "dashboard_main": ('Dashboard'|trans), 
        "dashboard_customer_orders": ('Order history (customer)'|trans), 
        "current":(pagetitle) 
        }] 
    %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                            <h6 class="card-title mb-0">
                                {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': orders.getTotalItemCount}) }}
                            </h6>
                            <div>
                                <select class="form-select js-choice" aria-label=".form-select-sm">
                                    <option>{{ "Sort by"|trans }}</option>
                                    <option selected="">All</option>
                                    <option>Delivered</option>
                                    <option>Processing</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-5">
                            {% if orders.getTotalItemCount > 0 %}
                                {% include "dashboard/editor/shop/order/manage-orders-table.html.twig" with {orders: orders} %}
                            {% else %}
                                <div class="card-footer bg-transparent p-0">
                                    {% component alert with {type: 'info', closeButton: false, class: 'my-2'} %}
                                        {% block content %}
                                            {{ 'No orders found'|trans }}
                                        {% endblock %}
                                    {% endcomponent %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
