<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header align-items-center">
        <span class="fas fa-{{ this.icon}} me-2 text-{{ this.color }}"></span>
        <strong class="me-auto">{{ this.title }}</strong>
        <a href="#" data-bs-dismiss="toast" aria-label="Close" class="text-dark">
            <span class="fas fa-times"></span>
        </a>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
