{% extends 'pdf.html.twig' %}

{% set pagetitle = 'Purchase order No '|trans ~ order.ref %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "order": "Orders"|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <section class="pt-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <h5>{{ pagetitle }}</h5>
                </div>
            </div>
            <div class="row justify-content-end mb-4">
                <div class="col-4 mb-6 mb-lg-0">
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="border-0 text-white rounded-start">Reference</th>
                                    <th scope="col" class="border-0 text-white">Payment method</th>
                                    <th scope="col" class="border-0 text-white">Status</th>
                                    <th scope="col" class="border-0 text-white">Amount</th>
                                    <th scope="col" class="border-0 text-white">Date</th>
                                    <th scope="col" class="border-0 text-white rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Table data -->
                                    <td> <a href="#">#23458</a> </td>
    
                                    <!-- Table data -->
                                    <td><img src="assets/images/elements/mastercard.svg" class="h-20px" alt=""><span class="ms-2">****4568</span></td>
    
                                    <!-- Table data -->
                                    <td><div class="badge bg-warning bg-opacity-15 text-warning">Pending</div></td>
    
                                    <!-- Table data -->
                                    <td>$215</td>

                                    <!-- Table data -->
                                    <td>16/8/2023</td>
    
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="btn btn-light border btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Download" data-bs-original-title="Download"><i class="bi bi-download"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4 mb-6 mb-lg-0">
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="border-0 text-white rounded-start">Reference</th>
                                    <th scope="col" class="border-0 text-white">Payment method</th>
                                    <th scope="col" class="border-0 text-white">Status</th>
                                    <th scope="col" class="border-0 text-white">Amount</th>
                                    <th scope="col" class="border-0 text-white">Date</th>
                                    <th scope="col" class="border-0 text-white rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Table data -->
                                    <td> <a href="#">#23458</a> </td>
    
                                    <!-- Table data -->
                                    <td><img src="assets/images/elements/mastercard.svg" class="h-20px" alt=""><span class="ms-2">****4568</span></td>
    
                                    <!-- Table data -->
                                    <td><div class="badge bg-warning bg-opacity-15 text-warning">Pending</div></td>
    
                                    <!-- Table data -->
                                    <td>$215</td>

                                    <!-- Table data -->
                                    <td>16/8/2023</td>
    
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="btn btn-light border btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Download" data-bs-original-title="Download"><i class="bi bi-download"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="border-0 text-white rounded-start">Reference</th>
                                    <th scope="col" class="border-0 text-white">Payment method</th>
                                    <th scope="col" class="border-0 text-white">Status</th>
                                    <th scope="col" class="border-0 text-white">Amount</th>
                                    <th scope="col" class="border-0 text-white">Date</th>
                                    <th scope="col" class="border-0 text-white rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Table data -->
                                    <td> <a href="#">#23458</a> </td>
    
                                    <!-- Table data -->
                                    <td><img src="assets/images/elements/mastercard.svg" class="h-20px" alt=""><span class="ms-2">****4568</span></td>
    
                                    <!-- Table data -->
                                    <td><div class="badge bg-warning bg-opacity-15 text-warning">Pending</div></td>
    
                                    <!-- Table data -->
                                    <td>$215</td>

                                    <!-- Table data -->
                                    <td>16/8/2023</td>
    
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="btn btn-light border btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Download" data-bs-original-title="Download"><i class="bi bi-download"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="border-0 text-white rounded-start">Reference</th>
                                    <th scope="col" class="border-0 text-white">Payment method</th>
                                    <th scope="col" class="border-0 text-white">Status</th>
                                    <th scope="col" class="border-0 text-white">Amount</th>
                                    <th scope="col" class="border-0 text-white">Date</th>
                                    <th scope="col" class="border-0 text-white rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Table data -->
                                    <td> <a href="#">#23458</a> </td>
    
                                    <!-- Table data -->
                                    <td><img src="assets/images/elements/mastercard.svg" class="h-20px" alt=""><span class="ms-2">****4568</span></td>
    
                                    <!-- Table data -->
                                    <td><div class="badge bg-warning bg-opacity-15 text-warning">Pending</div></td>
    
                                    <!-- Table data -->
                                    <td>$215</td>

                                    <!-- Table data -->
                                    <td>16/8/2023</td>
    
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="btn btn-light border btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Download" data-bs-original-title="Download"><i class="bi bi-download"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-end">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
