{#  
<footer class="py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="{{ path('home') }}"
                    aria-label="{{ website_name }}">
                    <span class="fs-5">{{ website_name }}</span>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Links</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Guides</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#!" target="_blank">Guides</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Guides</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Guides</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Guides</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Guides</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Projects</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#!" target="_blank">Projects</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Projects</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Projects</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Projects</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Projects</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#!" target="_blank">Community</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Community</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Community</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Community</a></li>
                    <li class="mb-2"><a href="#!" target="_blank">Community</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
#}


<footer class="bg-dark mt-6 pt-6 position-relative" data-bs-theme="dark">
	<div class="container position-relative mt-5">
		<div class="bg-light border rounded p-4 p-sm-5 mb-7">
			<div class="d-md-flex align-items-center">
				<div class="icon-lg bg-dark text-white rounded flex-shrink-0">
                    <i class="fas fa-hand-pointer fa-xl"></i>
                </div>
				<div class="ms-md-4 my-4 my-md-0">
					<h5>Join our awesome community!</h5>
					<p class="mb-0">Share work, seek support, vote on components, stay updated and network with others.</p>
				</div>
				<a href="#" class="btn btn-white mb-0 ms-auto flex-shrink-0">Join now</a>
			</div>
		</div>
		<div class="row g-4 justify-content-between">
			<div class="col-lg-5">
				<a href="index.html">
					<img class="light-mode-item h-40px" src="assets/images/logo.svg" alt="logo">
					<img class="dark-mode-item h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<p class="mt-4 mb-2">
                    A Bootstrap theme that's both stylish and functional, perfect for any type of technology or corporate website.
                </p>
				<ul class="list-inline mb-0 mt-4">
					<li class="list-inline-item"> <a class="btn btn-xs btn-icon btn-light" href="#"><i class="fab fa-fw fa-facebook-f lh-base"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-xs btn-icon btn-light" href="#"><i class="fab fa-fw fa-instagram lh-base"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-xs btn-icon btn-light" href="#"><i class="fab fa-fw fa-twitter lh-base"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-xs btn-icon btn-light" href="#"><i class="fab fa-fw fa-linkedin-in lh-base"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-xs btn-icon btn-light" href="#"><i class="fab fa-fw fa-youtube lh-base"></i></a> </li>
				</ul>
			</div>
			<div class="col-lg-6 col-xxl-4">
				<div class="row g-4">
					<div class="col-6">
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link pt-0" href="about-v1.html">About us</a></li>
							<li class="nav-item"><a class="nav-link" href="contact-v1.html">Contact us</a></li>
							<li class="nav-item"><a class="nav-link" href="career.html">Career <span class="badge text-bg-danger ms-2">2 Job</span></a></li>
							<li class="nav-item"><a class="nav-link" href="career-single.html">Career detail</a></li>
							<li class="nav-item"><a class="nav-link" href="contact-v1.html">Become a partner</a></li>
							<li class="nav-item"><a class="nav-link" href="sign-in.html">Sign in</a></li>
							<li class="nav-item"><a class="nav-link" href="sign-up.html">Sign up</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link pt-0" href="#">Documents</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Supports <i class="bi bi-box-arrow-up-right small ms-1"></i></a></li>
							<li class="nav-item"><a class="nav-link" href="faq.html">Faqs</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
							<li class="nav-item"><a class="nav-link" href="blog-grid.html">News and blogs</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Terms &amp; condition</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr class="mt-4 mb-0">
		<div class="d-md-flex justify-content-between align-items-center text-center text-lg-start py-4">
			<div class="text-body">
                Copyrights ©2024 Mizzle. Build by 
                <a href="https://www.webestica.com/" class="text-body text-primary-hover">Webestica</a>. 
            </div>
			<div class="nav mt-2 mt-lg-0">
				<ul class="list-inline mx-auto mb-0">
					<li class="list-inline-item me-0"><a class="nav-link py-0" href="#">Privacy policy</a></li>
					<li class="list-inline-item me-0"><a class="nav-link py-0 pe-0" href="#">Terms &amp; conditions</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
