{% extends 'base.html.twig' %}

{% set pagetitle = 'All pages'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="py-5 p-lg-0">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center text-center">
                <div class="col-xl-8 mb-7">
                    <h1 class="h2">{{ "Sorry, we're not ready yet"|trans }}</h1>
                    <p class="mb-0">{{ "Something is coming very soon"|trans }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
