<form method="post" action="{{ path('dashboard_admin_product_sub_category_delete', {'id': subCategory.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('subcategory_deletion_' ~ subCategory.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="fas fa-trash fa-fw"></i>
        {{ "Delete"|trans }}
    </button>
</form>
