{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
	{% if ea.crud.currentAction == 'detail' %}
		<ul class="list-group"> {% for feature in field.value %}
			<li class="list-group-item d-flex justify-content-between align-items-center">
				{{ feature.feature.name }}
				<span class="badge badge-primary">{{ feature.value }}</span>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<span class="badge badge-secondary">{{ field.value|length }}</span>
{% endif %}
