{% if field.value is null %}
	<span class="badge badge-warning">{{ 'Pending'|trans }}</span>
{% elseif not field.value.accepted %}
	<span class="badge badge-danger">{{ 'Refused'|trans }}</span>
{% else %}
	<span class="badge badge-success">{{ 'Accepted'|trans }}</span>
{% endif %}
