{% extends 'base.html.twig' %}

{% set pagetitle = 'Search'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "shop": ('Products'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <h1 class="mb-0 lh-base text-center">
                {{'Search for products'|trans }}
            </h1>
            {{ component('search-engine', {
                query: query
            }) }}
        </div>
    </section>
{% endblock %}
