{% extends 'base.html.twig' %}

{% set pagetitle = 'Testimonials'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "pages": ('Pages'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="inner-container-small text-center mb-4 mb-sm-5">
                <h2 class="mb-0">{{ 'What people say about us'|trans }}</h2>
                <p>{{ pagetitle }}</p>
            </div>
            {% if testimonials.getTotalItemCount > 0 %}
                <div class="row mt-0">
                    {% for testimonial in testimonials %}
                        {% include "global/testimonial-card.html.twig" with {testimonial: testimonial, showuser: 1, index: loop.index, class : 'mb-5'} %}
                    {% endfor %}
                </div>
                {{ knp_pagination_render(testimonials, null, {}, {'align': 'center'}) }}
            {% else %}
                {% component alert with {type: 'info', closeButton: false, class: 'my-2'} %}
                    {% block content %}
                        {{ 'No testimonials found'|trans }}
                    {% endblock %}
                {% endcomponent %}
            {% endif %}
        </div>
    </section>
{% endblock %}
