a {
    text-decoration: none;
}

.button-delete-attachment  {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

.card-attachment:hover > .button-delete-attachment {
    display: block;
}

.card-title {
    line-height: 1.5 !important;
}

.cursor-pointer {
    cursor: pointer;
}

label.required:after {
    content: '*';
    color: #dc3545;
}

.product-description > .card-text:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.product-image:hover {
    opacity: 0.5;
}

.auth-form {
    width: 500px;
}

.security-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.icon-xxs {
    height: 1rem;
    line-height: 1rem;
    width: 1rem
}

.icon-xs {
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem
}

.icon-sm {
    height: 2rem;
    line-height: 2rem;
    width: 2rem
}

.icon-md {
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem
}

.icon-lg {
    height: 3rem;
    line-height: 3rem;
    width: 3rem
}

.icon-xl {
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem
}

.icon-xxl {
    height: 4rem;
    line-height: 4rem;
    width: 4rem
}

.icon-shape {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle
}

.btn-icon {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    font-size: .92969rem;
    font-weight: 400;
    height: 2.5rem;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 2.5rem
}

.btn-icon.btn-xs {
    font-size: .75rem;
    height: 1.53125rem;
    width: 1.53125rem
}

.btn-group-sm>.btn-icon.btn,
.btn-icon.btn-sm {
    font-size: .875rem;
    height: 2.1875rem;
    width: 2.1875rem
}

.btn-group-lg>.btn-icon.btn,
.btn-icon.btn-lg {
    font-size: 1rem;
    height: 3.36875rem;
    width: 3.36875rem
}

:root {
    --bs-btn-ghost-bg: #cbd5e1;
}

.btn-ghost {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-gray-400);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-gray-600);
    --bs-btn-hover-bg: var(--bs-btn-ghost-bg);
    --bs-btn-hover-border-color: var(--bs-btn-ghost-bg);
    --bs-btn-focus-shadow-rgb: var(--bd-gray-300-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-btn-ghost-bg);
    --bs-btn-active-border-color: var(--bs-btn-ghost-bg)
}

.avatar {
    display: inline-block;
    height: 3rem;
    position: relative;
    width: 3rem
}

.avatar-xs {
    height: 1.5rem;
    width: 1.5rem
}

.avatar-sm {
    height: 2rem;
    width: 2rem
}

.avatar-md {
    height: 2.5rem;
    width: 2.5rem
}

.avatar-lg {
    height: 3.5rem;
    width: 3.5rem
}

.avatar-xl {
    height: 5rem;
    width: 5rem
}

.avatar-xxl {
    height: 7.5rem;
    width: 7.5rem
}

.avatar img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.avatar-offline:before {
    background-color: var(--bs-gray-400)
}

.avatar-online:before {
    background-color: var(--bs-success)
}

.avatar-away:before {
    background-color: var(--bs-warning)
}

.avatar-busy:before {
    background-color: var(--bs-danger)
}

.avatar-info:before {
    background-color: var(--bs-info)
}

.avatar-indicators:before {
    border: 2px solid var(--bs-white);
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: table;
    height: 30%;
    position: absolute;
    right: 5%;
    width: 30%
}

.avatar-initials {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    text-transform: uppercase;
    width: 100%
}

.avatar-primary .avatar-initials {
    background-color: var(--bs-primary);
    color: var(--bs-white)
}

.avatar-secondary .avatar-initials {
    background-color: var(--bs-secondary);
    color: var(--bs-white)
}

.avatar-success .avatar-initials {
    background-color: var(--bs-success);
    color: var(--bs-white)
}

.avatar-warning .avatar-initials {
    background-color: var(--bs-warning);
    color: var(--bs-white)
}

.avatar-info .avatar-initials {
    background-color: var(--bs-info);
    color: var(--bs-white)
}

.avatar-danger .avatar-initials {
    background-color: var(--bs-danger);
    color: var(--bs-white)
}

.avatar-light .avatar-initials {
    background-color: var(--bs-light);
    color: var(--bs-white)
}

.avatar-dark .avatar-initials {
    background-color: var(--bs-dark);
    color: var(--bs-white)
}

.avatar-primary-soft .avatar-initials {
    background-color: #ede9fe;
    color: var(--bs-primary)
}

.avatar-secondary-soft .avatar-initials {
    background-color: var(--bs-secondary);
    color: var(--bs-white)
}

.avatar-success-soft .avatar-initials {
    background-color: var(--bs-light-success);
    color: var(--bs-success)
}

.avatar-warning-soft .avatar-initials {
    background-color: var(--bs-light-warning);
    color: var(--bs-warning)
}

.avatar-info-soft .avatar-initials {
    background-color: var(--bs-light-info);
    color: var(--bs-info)
}

.avatar-danger-soft .avatar-initials {
    background-color: var(--bs-light-danger);
    color: var(--bs-danger)
}

.avatar-dark-soft .avatar-initials {
    background-color: var(--bs-light-dark);
    color: var(--bs-white)
}

.avatar-light-soft .avatar-initials {
    background-color: var(--bs-light);
    color: var(--bs-dark)
}

.avatar-group .avatar+.avatar {
    margin-left: -1.2rem
}

.avatar-group .avatar:hover {
    z-index: 2
}

.avatar-group .avatar .avatar-initials,
.avatar-group img {
    border: 3px solid var(--bs-white)
}

.img-4by3-xxl {
    width: 9rem
}

.img-4by3-xl {
    width: 7.75rem
}

.img-4by3-lg {
    width: 6.5rem
}

.img-4by3-md {
    width: 5.25rem
}

.img-4by3-sm {
    width: 4rem
}

.img-4by3-xs {
    width: 2.75rem
}

.img-4by3-xxs {
    width: 1.5625rem;
    height: 1.5625rem
}

.img-200-200 {
    max-height: 200px;
    max-width: 200px
}

.img-100-100 {
    max-height: 100px;
    max-width: 100px
}

.img-80-80 {
    max-height: 80px;
    max-width: 80px
}

.img-50-50 {
    max-height: 50px;
    max-width: 50px
}

.img-30-30 {
    max-height: 30px;
    max-width: 30px
}

.img-20-20 {
    max-height: 20px;
    max-width: 20px
}

.img-15-15 {
    max-height: 15px;
    max-width: 15px
}
