{% extends 'base.html.twig' %}

{% set pagetitle = 'Added stock history for '|trans ~ product.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_product_index": 'Manage products'|trans, (path('dashboard_admin_product_view', { id: product.id })): product.name, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                            <h6 class="card-title mb-0">
                                {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows|length}) }}
                            </h6>
                            <div>
                                <a href="{{ path('dashboard_admin_product_index') }}" class="btn btn-sm btn-outline-success me-2">
                                    {{ 'Return to list'|trans }}
                                </a>
                            </div>
                        </div>
                        {% if rows|length > 0 %}
                            {% include "dashboard/admin/products/product/manage-add-stock-history-table.html.twig" with {rows: rows} %}
                        {% else %}
                            <div class="card-footer bg-transparent p-0">
                                {% include "global/message.html.twig" with { type: "dark", message: ('No Added stock history found'|trans), icon: "fas fa-exclamation", class: "my-2" } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
