{% extends 'base.html.twig' %}

{% set pagetitle = 'My favorites'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                            <h6 class="card-title mb-0">
                                {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}
                            </h6>
                            <div>
                                {% if is_granted('ROLE_VERIFIED') %}
                                    <a href="" class="btn btn-sm btn-primary me-2">
                                        {{ 'Create'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if rows.getTotalItemCount > 0 %}
                            {% for product in rows %}
                                {% include "global/product-card.html.twig" with {product: product} %}
                            {% endfor %}
                            <div class="card-footer bg-transparent text-end p-0">
                                {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                            </div>
                        {% else %}
                            <div class="card-footer bg-transparent p-0">
                                {% include "global/message.html.twig" with { type: "dark", message: ('Add recipes to your favorites by clicking the heart button'|trans), icon: "fas fa-exclamation", class: "my-2" } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
