<form method="post" action="{{ path('dashboard_admin_product_brand_delete', {'id': brand.id}) }}" onsubmit="return confirm('{{ "Are you sure you want to delete this item?"|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('brand_deletion_' ~ brand.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="fas fa-trash fa-fw"></i>
    </button>
</form>
