{% extends 'base.html.twig' %}

{% set pagetitle = 'Add your testimonial for %username%'|trans({'%username%': user.username}) %}
{% block title pagetitle %}

{% block body %}
    <section class="pt-0">
        <div class="container">

        </div>
    </section>
{% endblock %}
